body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../Master_OFFLINE_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:0px;
    width:1024px;
    height:61px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1030px;
    height:67px;
}

.u1 {
    position:absolute;
    left:2px;
    top:22px;
    width:1020px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_mouseOver {
    background-image: url('../resources/images/transparent.gif');
}

.u2_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u2_container {
    position:absolute;
    left:372px;
    top:20px;
    width:110px;
    height:20px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:116px;
    height:26px;
}

.u3 {
    position:absolute;
    left:2px;
    top:2px;
    width:106px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_mouseOver {
    background-image: url('../resources/images/transparent.gif');
}

.u4_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u4_container {
    position:absolute;
    left:537px;
    top:20px;
    width:110px;
    height:20px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:116px;
    height:26px;
}

.u5 {
    position:absolute;
    left:2px;
    top:2px;
    width:106px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_mouseOver {
    background-image: url('../resources/images/transparent.gif');
}

.u6_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u6_container {
    position:absolute;
    left:693px;
    top:20px;
    width:110px;
    height:20px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:116px;
    height:26px;
}

.u7 {
    position:absolute;
    left:2px;
    top:2px;
    width:106px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_mouseOver {
    background-image: url('../resources/images/transparent.gif');
}

.u8_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u8_container {
    position:absolute;
    left:855px;
    top:20px;
    width:130px;
    height:20px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:136px;
    height:26px;
}

.u9 {
    position:absolute;
    left:2px;
    top:2px;
    width:126px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_normal {
    background-image: url('../Master_OFFLINE_files/u10_normal.png');
}

.u10_container {
    position:absolute;
    left:21px;
    top:5px;
    width:118px;
    height:90px;
}

#u10_img {
    position:absolute;
    left:0px;
    top:0px;
    width:118px;
    height:90px;
}

.u11 {
    position:absolute;
    left:2px;
    top:37px;
    width:114px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_mouseOver {
    background-image: url('../resources/images/transparent.gif');
}

.u12_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u12_container {
    position:absolute;
    left:239px;
    top:20px;
    width:110px;
    height:20px;
}

#u12_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:116px;
    height:26px;
}

.u13 {
    position:absolute;
    left:2px;
    top:2px;
    width:106px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:65px;
    top:134px;
    width:419px;
    height:308px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_normal {
    background-image: url('../Home_files/u16_normal.png');
}

.u16_container {
    position:absolute;
    left:554px;
    top:134px;
    width:398px;
    height:292px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:404px;
    height:298px;
}

.u17 {
    position:absolute;
    left:2px;
    top:138px;
    width:394px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:572px;
    top:191px;
    width:362px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u19 {
    position:absolute;
    left:572px;
    top:257px;
    width:362px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u20 {
    position:absolute;
    left:572px;
    top:233px;
    width:220px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21 {
    position:absolute;
    left:572px;
    top:168px;
    width:220px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22_mouseOver {
    background-image: url('../Home_files/button_u22_mouseOver.png');
}

.u22_disabled {
    background-image: url('../Home_files/button_u22_disabled.png');
}

.u22_normal {
    background-image: url('../Home_files/button_u22_normal.png');
}

.u22_container {
    position:absolute;
    left:834px;
    top:300px;
    width:100px;
    height:25px;
}

#u22_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:31px;
}

.u23 {
    position:absolute;
    left:2px;
    top:4px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24 {
    position:absolute;
    left:732px;
    top:655px;
    width:220px;
    height:66px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25 {
    position:absolute;
    left:399px;
    top:658px;
    width:219px;
    height:44px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26 {
    position:absolute;
    left:65px;
    top:658px;
    width:219px;
    height:44px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27 {
    position:absolute;
    left:14px;
    top:814px;
    width:140px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28_normal {
    background-image: url('../Rodape_files/u28_normal.png');
}

.u28_container {
    position:absolute;
    left:119px;
    top:814px;
    width:17px;
    height:17px;
}

#u28_img {
    position:absolute;
    left:0px;
    top:0px;
    width:17px;
    height:17px;
}

.u29 {
    position:absolute;
    left:2px;
    top:0px;
    width:13px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30 {
    position:absolute;
    left:884px;
    top:814px;
    width:140px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32_normal {
    background-image: url('../Rodape_files/u32_normal.png');
}

.u32_container {
    position:absolute;
    left:0px;
    top:840px;
    width:1024px;
    height:10px;
}

#u32_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1030px;
    height:16px;
}

.u33 {
    position:absolute;
    left:2px;
    top:-3px;
    width:1020px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35_line {
    background-image: url('../Home_files/u35_line.png');
}

.u35_line {
    position:absolute;
    left:0px;
    top:4px;
    width:397px;
    height:3px;
}

.u35 {
    position:absolute;
    left:554px;
    top:347px;
    width:397px;
    height:10px;
    
}

.u36 {
    position:absolute;
    left:554px;
    top:377px;
    width:398px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38_normal {
    background-image: url('../Home_files/u38_normal.png');
}

.u38_container {
    position:absolute;
    left:65px;
    top:495px;
    width:220px;
    height:153px;
}

#u38_img {
    position:absolute;
    left:0px;
    top:0px;
    width:220px;
    height:153px;
}

.u39 {
    position:absolute;
    left:2px;
    top:68px;
    width:216px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40_normal {
    background-image: url('../Home_files/u40_normal.png');
}

.u40_container {
    position:absolute;
    left:393px;
    top:495px;
    width:219px;
    height:153px;
}

#u40_img {
    position:absolute;
    left:0px;
    top:0px;
    width:219px;
    height:153px;
}

.u41 {
    position:absolute;
    left:2px;
    top:68px;
    width:215px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42_normal {
    background-image: url('../Home_files/u42_normal.png');
}

.u42_container {
    position:absolute;
    left:723px;
    top:495px;
    width:220px;
    height:150px;
}

#u42_img {
    position:absolute;
    left:0px;
    top:0px;
    width:220px;
    height:150px;
}

.u43 {
    position:absolute;
    left:2px;
    top:67px;
    width:216px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

