body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../Adm_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:157px;
    width:1024px;
    height:586px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1030px;
    height:592px;
}

.u1 {
    position:absolute;
    left:2px;
    top:285px;
    width:1020px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../Adm_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:10px;
    top:170px;
    width:264px;
    height:269px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:270px;
    height:275px;
}

.u3 {
    position:absolute;
    left:2px;
    top:126px;
    width:260px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../Adm_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:50px;
    top:249px;
    width:184px;
    height:146px;
}

#u4_img {
    position:absolute;
    left:0px;
    top:0px;
    width:184px;
    height:146px;
}

.u5 {
    position:absolute;
    left:2px;
    top:65px;
    width:180px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:10px;
    top:188px;
    width:264px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_normal {
    background-image: url('../Adm_files/u7_normal.png');
}

.u7_container {
    position:absolute;
    left:297px;
    top:170px;
    width:347px;
    height:554px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:353px;
    height:560px;
}

.u8 {
    position:absolute;
    left:2px;
    top:269px;
    width:343px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_normal {
    background-image: url('../Adm_files/u9_normal.png');
}

.u9_container {
    position:absolute;
    left:660px;
    top:170px;
    width:347px;
    height:553px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:353px;
    height:559px;
}

.u10 {
    position:absolute;
    left:2px;
    top:268px;
    width:343px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11 {
    position:absolute;
    left:14px;
    top:753px;
    width:140px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_normal {
    background-image: url('../Rodape_files/u28_normal.png');
}

.u12_container {
    position:absolute;
    left:119px;
    top:753px;
    width:17px;
    height:17px;
}

#u12_img {
    position:absolute;
    left:0px;
    top:0px;
    width:17px;
    height:17px;
}

.u13 {
    position:absolute;
    left:2px;
    top:0px;
    width:13px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:884px;
    top:753px;
    width:140px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_normal {
    background-image: url('../Rodape_files/u32_normal.png');
}

.u16_container {
    position:absolute;
    left:0px;
    top:779px;
    width:1024px;
    height:10px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1030px;
    height:16px;
}

.u17 {
    position:absolute;
    left:2px;
    top:-3px;
    width:1020px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19 {
    position:absolute;
    left:338px;
    top:188px;
    width:264px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20 {
    position:absolute;
    left:702px;
    top:188px;
    width:264px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_normal {
    background-image: url('../Adm_files/u21_normal.png');
}

.u21_container {
    position:absolute;
    left:10px;
    top:458px;
    width:264px;
    height:266px;
}

#u21_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:270px;
    height:272px;
}

.u22 {
    position:absolute;
    left:2px;
    top:125px;
    width:260px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23 {
    position:absolute;
    left:10px;
    top:478px;
    width:264px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24 {
    position:absolute;
    left:10px;
    top:212px;
    width:264px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25 {
    position:absolute;
    left:10px;
    top:502px;
    width:264px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26_normal {
    background-image: url('../Adm_files/u26_normal.png');
}

.u26_container {
    position:absolute;
    left:30px;
    top:536px;
    width:216px;
    height:133px;
}

#u26_img {
    position:absolute;
    left:0px;
    top:0px;
    width:216px;
    height:133px;
}

.u27 {
    position:absolute;
    left:2px;
    top:58px;
    width:212px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28_normal {
    background-image: url('../Adm_files/u28_normal.png');
}

.u28_container {
    position:absolute;
    left:618px;
    top:179px;
    width:16px;
    height:16px;
}

#u28_img {
    position:absolute;
    left:0px;
    top:0px;
    width:16px;
    height:16px;
}

.u29 {
    position:absolute;
    left:2px;
    top:0px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30_normal {
    background-image: url('../Adm_files/u28_normal.png');
}

.u30_container {
    position:absolute;
    left:976px;
    top:179px;
    width:16px;
    height:16px;
}

#u30_img {
    position:absolute;
    left:0px;
    top:0px;
    width:16px;
    height:16px;
}

.u31 {
    position:absolute;
    left:2px;
    top:0px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32_normal {
    background-image: url('../Adm_files/u28_normal.png');
}

.u32_container {
    position:absolute;
    left:245px;
    top:411px;
    width:16px;
    height:16px;
}

#u32_img {
    position:absolute;
    left:0px;
    top:0px;
    width:16px;
    height:16px;
}

.u33 {
    position:absolute;
    left:2px;
    top:0px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34_normal {
    background-image: url('../Adm_files/u28_normal.png');
}

.u34_container {
    position:absolute;
    left:245px;
    top:691px;
    width:16px;
    height:16px;
}

#u34_img {
    position:absolute;
    left:0px;
    top:0px;
    width:16px;
    height:16px;
}

.u35 {
    position:absolute;
    left:2px;
    top:0px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u36 {
    position:absolute;
    left:310px;
    top:222px;
    width:325px;
    height:473px;
    overflow:hidden;
}

#pd0u36 {
    position:absolute;
    left:0px;
    top:0px;
    width:325px;
    height:473px;
    overflow:auto;
    -webkit-overflow-scrolling: touch;
    overflow-x:hidden;
    -ms-overflow-x:hidden;
}

.u37_normal {
    background-image: url('../Adm_files/u37_normal.png');
}

.u37_container {
    position:absolute;
    left:0px;
    top:0px;
    width:307px;
    height:626px;
}

#u37_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:313px;
    height:632px;
}

.u38 {
    position:absolute;
    left:2px;
    top:2px;
    width:303px;
    height:592px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u39 {
    position:absolute;
    left:672px;
    top:222px;
    width:325px;
    height:473px;
    overflow:hidden;
}

#pd0u39 {
    position:absolute;
    left:0px;
    top:0px;
    width:325px;
    height:473px;
    overflow:auto;
    -webkit-overflow-scrolling: touch;
    overflow-x:hidden;
    -ms-overflow-x:hidden;
}

.u40_normal {
    background-image: url('../Adm_files/u37_normal.png');
}

.u40_container {
    position:absolute;
    left:0px;
    top:0px;
    width:307px;
    height:626px;
}

#u40_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:313px;
    height:632px;
}

.u41 {
    position:absolute;
    left:2px;
    top:2px;
    width:303px;
    height:560px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42_normal {
    background-image: url('../Master_ADM_files/u42_normal.png');
}

.u42_container {
    position:absolute;
    left:3px;
    top:0px;
    width:1024px;
    height:46px;
}

#u42_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1030px;
    height:52px;
}

.u43 {
    position:absolute;
    left:2px;
    top:15px;
    width:1020px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44_mouseOver {
    background-image: url('../resources/images/transparent.gif');
}

.u44_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u44_container {
    position:absolute;
    left:872px;
    top:18px;
    width:82px;
    height:16px;
}

#u44_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:88px;
    height:22px;
}

.u45 {
    position:absolute;
    left:2px;
    top:0px;
    width:78px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46 {
    position:absolute;
    left:683px;
    top:7px;
    width:140px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47 {
    position:absolute;
    left:683px;
    top:30px;
    width:162px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48 {
    position:absolute;
    left:168px;
    top:12px;
    width:202px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49_normal {
    background-image: url('../Master_ADM_files/u49_normal.png');
}

.u49_container {
    position:absolute;
    left:0px;
    top:46px;
    width:1027px;
    height:80px;
}

#u49_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1033px;
    height:86px;
}

.u50 {
    position:absolute;
    left:2px;
    top:32px;
    width:1023px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51_normal {
    background-image: url('../Master_ADM_files/u51_normal.png');
}

.u51_container {
    position:absolute;
    left:159px;
    top:71px;
    width:32px;
    height:32px;
}

#u51_img {
    position:absolute;
    left:0px;
    top:0px;
    width:32px;
    height:32px;
}

.u52 {
    position:absolute;
    left:2px;
    top:8px;
    width:28px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53_normal {
    background-image: url('../Master_ADM_files/u53_normal.png');
}

.u53_container {
    position:absolute;
    left:726px;
    top:71px;
    width:32px;
    height:32px;
}

#u53_img {
    position:absolute;
    left:0px;
    top:0px;
    width:32px;
    height:32px;
}

.u54 {
    position:absolute;
    left:2px;
    top:8px;
    width:28px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55_normal {
    background-image: url('../Master_ADM_files/u55_normal.png');
}

.u55_container {
    position:absolute;
    left:273px;
    top:71px;
    width:32px;
    height:32px;
}

#u55_img {
    position:absolute;
    left:0px;
    top:0px;
    width:32px;
    height:32px;
}

.u56 {
    position:absolute;
    left:2px;
    top:8px;
    width:28px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57_normal {
    background-image: url('../Master_ADM_files/u57_normal.png');
}

.u57_container {
    position:absolute;
    left:386px;
    top:71px;
    width:32px;
    height:32px;
}

#u57_img {
    position:absolute;
    left:0px;
    top:0px;
    width:32px;
    height:32px;
}

.u58 {
    position:absolute;
    left:2px;
    top:8px;
    width:28px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59_normal {
    background-image: url('../Master_ADM_files/u59_normal.png');
}

.u59_container {
    position:absolute;
    left:499px;
    top:71px;
    width:32px;
    height:32px;
}

#u59_img {
    position:absolute;
    left:0px;
    top:0px;
    width:32px;
    height:32px;
}

.u60 {
    position:absolute;
    left:2px;
    top:8px;
    width:28px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61_normal {
    background-image: url('../Master_ADM_files/u61_normal.png');
}

.u61_container {
    position:absolute;
    left:951px;
    top:71px;
    width:32px;
    height:32px;
}

#u61_img {
    position:absolute;
    left:0px;
    top:0px;
    width:32px;
    height:32px;
}

.u62 {
    position:absolute;
    left:2px;
    top:8px;
    width:28px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63_normal {
    background-image: url('../Master_ADM_files/u63_normal.png');
}

.u63_container {
    position:absolute;
    left:46px;
    top:72px;
    width:32px;
    height:32px;
}

#u63_img {
    position:absolute;
    left:0px;
    top:0px;
    width:32px;
    height:32px;
}

.u64 {
    position:absolute;
    left:2px;
    top:8px;
    width:28px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65_normal {
    background-image: url('../Master_ADM_files/u65_normal.png');
}

.u65_container {
    position:absolute;
    left:611px;
    top:70px;
    width:36px;
    height:36px;
}

#u65_img {
    position:absolute;
    left:0px;
    top:0px;
    width:36px;
    height:36px;
}

.u66 {
    position:absolute;
    left:2px;
    top:10px;
    width:32px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67 {
    position:absolute;
    left:21px;
    top:106px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u68 {
    position:absolute;
    left:134px;
    top:105px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69 {
    position:absolute;
    left:701px;
    top:105px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u70 {
    position:absolute;
    left:248px;
    top:105px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71 {
    position:absolute;
    left:361px;
    top:105px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u72 {
    position:absolute;
    left:474px;
    top:105px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u73 {
    position:absolute;
    left:588px;
    top:106px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u74 {
    position:absolute;
    left:926px;
    top:105px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75_normal {
    background-image: url('../Master_ADM_files/u75_normal.png');
}

.u75_container {
    position:absolute;
    left:840px;
    top:71px;
    width:32px;
    height:32px;
}

#u75_img {
    position:absolute;
    left:0px;
    top:0px;
    width:32px;
    height:32px;
}

.u76 {
    position:absolute;
    left:2px;
    top:8px;
    width:28px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u77 {
    position:absolute;
    left:815px;
    top:105px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u78_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u78_container {
    position:absolute;
    left:931px;
    top:64px;
    width:77px;
    height:61px;
}

#u78_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:83px;
    height:67px;
}

.u79 {
    position:absolute;
    left:2px;
    top:22px;
    width:73px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u80_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u80_container {
    position:absolute;
    left:21px;
    top:71px;
    width:77px;
    height:56px;
}

#u80_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:83px;
    height:62px;
}

.u81 {
    position:absolute;
    left:2px;
    top:20px;
    width:73px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u82_normal {
    background-image: url('../Master_ADM_files/u82_normal.png');
}

.u82_container {
    position:absolute;
    left:35px;
    top:10px;
    width:50px;
    height:57px;
}

#u82_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:57px;
}

.u83 {
    position:absolute;
    left:2px;
    top:20px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u84_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u84_container {
    position:absolute;
    left:137px;
    top:71px;
    width:77px;
    height:56px;
}

#u84_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:83px;
    height:62px;
}

.u85 {
    position:absolute;
    left:2px;
    top:20px;
    width:73px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u86_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u86_container {
    position:absolute;
    left:248px;
    top:71px;
    width:77px;
    height:56px;
}

#u86_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:83px;
    height:62px;
}

.u87 {
    position:absolute;
    left:2px;
    top:20px;
    width:73px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u88_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u88_container {
    position:absolute;
    left:363px;
    top:71px;
    width:77px;
    height:56px;
}

#u88_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:83px;
    height:62px;
}

.u89 {
    position:absolute;
    left:2px;
    top:20px;
    width:73px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u90_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u90_container {
    position:absolute;
    left:475px;
    top:71px;
    width:77px;
    height:56px;
}

#u90_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:83px;
    height:62px;
}

.u91 {
    position:absolute;
    left:2px;
    top:20px;
    width:73px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u92_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u92_container {
    position:absolute;
    left:591px;
    top:71px;
    width:77px;
    height:56px;
}

#u92_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:83px;
    height:62px;
}

.u93 {
    position:absolute;
    left:2px;
    top:20px;
    width:73px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u94_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u94_container {
    position:absolute;
    left:703px;
    top:71px;
    width:77px;
    height:56px;
}

#u94_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:83px;
    height:62px;
}

.u95 {
    position:absolute;
    left:2px;
    top:20px;
    width:73px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u96_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u96_container {
    position:absolute;
    left:815px;
    top:71px;
    width:77px;
    height:56px;
}

#u96_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:83px;
    height:62px;
}

.u97 {
    position:absolute;
    left:2px;
    top:20px;
    width:73px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u98 {
    position:absolute;
    left:243px;
    top:8px;
    width:610px;
    height:106px;
    overflow:hidden;
}

#pd0u98 {
    position:absolute;
    left:0px;
    top:0px;
    width:610px;
    height:106px;
    
}

.u99_normal {
    background-image: url('../Master_ADM_files/u99_normal.png');
}

.u99_container {
    position:absolute;
    left:0px;
    top:0px;
    width:608px;
    height:105px;
}

#u99_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:614px;
    height:111px;
}

.u100 {
    position:absolute;
    left:10px;
    top:-4px;
    width:588px;
    height:113px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u101_normal {
    background-image: url('../Master_ADM_files/u101_normal.png');
}

.u101_container {
    position:absolute;
    left:580px;
    top:9px;
    width:16px;
    height:16px;
}

#u101_img {
    position:absolute;
    left:0px;
    top:0px;
    width:16px;
    height:16px;
}

.u102 {
    position:absolute;
    left:2px;
    top:0px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u104 {
    position:absolute;
    left:23px;
    top:93px;
    width:975px;
    height:631px;
    overflow:hidden;
}

#pd0u104 {
    position:absolute;
    left:0px;
    top:0px;
    width:975px;
    height:631px;
    
}

.u105_normal {
    background-image: url('../Adm_files/u105_normal.png');
}

.u105_container {
    position:absolute;
    left:0px;
    top:0px;
    width:974px;
    height:631px;
}

#u105_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:980px;
    height:637px;
}

.u106 {
    position:absolute;
    left:2px;
    top:308px;
    width:970px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u107 {
    position:absolute;
    left:24px;
    top:18px;
    width:247px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u108_normal {
    background-image: url('../Adm_files/u108_normal.png');
}

.u108_container {
    position:absolute;
    left:24px;
    top:70px;
    width:201px;
    height:201px;
}

#u108_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:207px;
    height:207px;
}

.u109 {
    position:absolute;
    left:2px;
    top:92px;
    width:197px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u112_selected {
    background-image: url('../Adm_files/u112_selected.png');
}

.u112_normal {
    background-image: url('../Adm_files/u112_normal.png');
}

.u112_container {
    position:absolute;
    left:6px;
    top:6px;
    width:9px;
    height:9px;
}

#u112_img {
    position:absolute;
    left:0px;
    top:0px;
    width:9px;
    height:9px;
}

.u113 {
    position:absolute;
    left:2px;
    top:-4px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u114_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u114_container {
    position:absolute;
    left:22px;
    top:0px;
    width:95px;
    height:20px;
}

#u114_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:101px;
    height:26px;
}

.u115 {
    position:absolute;
    left:3px;
    top:2px;
    width:90px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u117_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u117_container {
    position:absolute;
    left:22px;
    top:0px;
    width:68px;
    height:20px;
}

#u117_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:74px;
    height:26px;
}

.u118 {
    position:absolute;
    left:3px;
    top:2px;
    width:63px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u120_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u120_container {
    position:absolute;
    left:22px;
    top:0px;
    width:68px;
    height:20px;
}

#u120_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:74px;
    height:26px;
}

.u121 {
    position:absolute;
    left:3px;
    top:2px;
    width:63px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u123_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u123_container {
    position:absolute;
    left:22px;
    top:0px;
    width:68px;
    height:20px;
}

#u123_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:74px;
    height:26px;
}

.u124 {
    position:absolute;
    left:3px;
    top:2px;
    width:63px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

#u125 {
    position:absolute;
    left:246px;
    top:70px;
    width:702px;
    height:511px;
    overflow:hidden;
}

#pd0u125 {
    position:absolute;
    left:0px;
    top:0px;
    width:702px;
    height:511px;
    overflow:auto;
    -webkit-overflow-scrolling: touch;
    overflow-x:hidden;
    -ms-overflow-x:hidden;
}

.u126_normal {
    background-image: url('../Adm_files/u126_normal.png');
}

.u126_container {
    position:absolute;
    left:0px;
    top:0px;
    width:701px;
    height:708px;
}

#u126_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:707px;
    height:714px;
}

.u127 {
    position:absolute;
    left:2px;
    top:346px;
    width:697px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u128 {
    position:absolute;
    left:16px;
    top:15px;
    width:670px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u129 {
    position:absolute;
    left:16px;
    top:47px;
    width:659px;
    height:640px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u130_normal {
    background-image: url('../Adm_files/u130_normal.png');
}

.u130_container {
    position:absolute;
    left:24px;
    top:292px;
    width:201px;
    height:288px;
}

#u130_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:207px;
    height:294px;
}

.u131 {
    position:absolute;
    left:2px;
    top:136px;
    width:197px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u132 {
    position:absolute;
    left:32px;
    top:309px;
    width:150px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u133 {
    position:absolute;
    left:32px;
    top:351px;
    width:150px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u134 {
    position:absolute;
    left:32px;
    top:395px;
    width:150px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u135 {
    position:absolute;
    left:32px;
    top:324px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u136 {
    position:absolute;
    left:32px;
    top:366px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u137 {
    position:absolute;
    left:32px;
    top:410px;
    width:150px;
    height:108px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u139_normal {
    background-image: url('../Adm_files/u139_normal.png');
}

.u139_container {
    position:absolute;
    left:931px;
    top:18px;
    width:16px;
    height:16px;
}

#u139_img {
    position:absolute;
    left:0px;
    top:0px;
    width:16px;
    height:16px;
}

.u140 {
    position:absolute;
    left:2px;
    top:0px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

