body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../Area_do_cliente_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:-4px;
    top:60px;
    width:1028px;
    height:709px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:1028px;
    height:709px;
}

.u1 {
    position:absolute;
    left:2px;
    top:346px;
    width:1024px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../Master_ONLINE_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:0px;
    top:0px;
    width:1024px;
    height:60px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1030px;
    height:66px;
}

.u3 {
    position:absolute;
    left:2px;
    top:22px;
    width:1020px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_mouseOver {
    background-image: url('../resources/images/transparent.gif');
}

.u4_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u4_container {
    position:absolute;
    left:872px;
    top:10px;
    width:110px;
    height:20px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:116px;
    height:26px;
}

.u5 {
    position:absolute;
    left:2px;
    top:4px;
    width:106px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_mouseOver {
    background-image: url('../resources/images/transparent.gif');
}

.u6_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u6_container {
    position:absolute;
    left:872px;
    top:40px;
    width:82px;
    height:20px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:88px;
    height:26px;
}

.u7 {
    position:absolute;
    left:2px;
    top:4px;
    width:78px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:680px;
    top:10px;
    width:140px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:680px;
    top:39px;
    width:162px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:402px;
    top:24px;
    width:140px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_normal {
    background-image: url('../Master_ONLINE_files/u11_normal.png');
}

.u11_container {
    position:absolute;
    left:21px;
    top:5px;
    width:116px;
    height:89px;
}

#u11_img {
    position:absolute;
    left:0px;
    top:0px;
    width:116px;
    height:89px;
}

.u12 {
    position:absolute;
    left:2px;
    top:36px;
    width:112px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:14px;
    top:779px;
    width:140px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_normal {
    background-image: url('../Rodape_files/u28_normal.png');
}

.u15_container {
    position:absolute;
    left:119px;
    top:779px;
    width:17px;
    height:17px;
}

#u15_img {
    position:absolute;
    left:0px;
    top:0px;
    width:17px;
    height:17px;
}

.u16 {
    position:absolute;
    left:2px;
    top:0px;
    width:13px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17 {
    position:absolute;
    left:884px;
    top:779px;
    width:140px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_normal {
    background-image: url('../Rodape_files/u32_normal.png');
}

.u19_container {
    position:absolute;
    left:0px;
    top:805px;
    width:1024px;
    height:10px;
}

#u19_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1030px;
    height:16px;
}

.u20 {
    position:absolute;
    left:2px;
    top:-3px;
    width:1020px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u22 {
    position:absolute;
    left:813px;
    top:93px;
    width:111px;
    height:409px;
    overflow:hidden;
}

#pd0u22 {
    position:absolute;
    left:0px;
    top:0px;
    width:111px;
    height:409px;
    
}

.u23_normal {
    background-image: url('../Area_do_cliente_files/u23_normal.png');
}

.u23_container {
    position:absolute;
    left:0px;
    top:0px;
    width:109px;
    height:408px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:115px;
    height:414px;
}

.u24 {
    position:absolute;
    left:2px;
    top:196px;
    width:105px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25 {
    position:absolute;
    left:16px;
    top:382px;
    width:76px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26 {
    position:absolute;
    left:16px;
    top:309px;
    width:76px;
    height:83px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_normal {
    background-image: url('../Area_do_cliente_files/u27_normal.png');
}

.u27_container {
    position:absolute;
    left:0px;
    top:0px;
    width:109px;
    height:23px;
}

#u27_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:115px;
    height:29px;
}

.u28 {
    position:absolute;
    left:2px;
    top:5px;
    width:105px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29 {
    position:absolute;
    left:16px;
    top:165px;
    width:76px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30 {
    position:absolute;
    left:16px;
    top:82px;
    width:76px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31 {
    position:absolute;
    left:16px;
    top:328px;
    width:76px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32 {
    position:absolute;
    left:16px;
    top:254px;
    width:76px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33_normal {
    background-image: url('../Area_do_cliente_files/u33_normal.png');
}

.u33_container {
    position:absolute;
    left:35px;
    top:126px;
    width:38px;
    height:40px;
}

#u33_img {
    position:absolute;
    left:0px;
    top:0px;
    width:38px;
    height:40px;
}

.u34 {
    position:absolute;
    left:2px;
    top:12px;
    width:34px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35_normal {
    background-image: url('../Area_do_cliente_files/u35_normal.png');
}

.u35_container {
    position:absolute;
    left:32px;
    top:39px;
    width:43px;
    height:43px;
}

#u35_img {
    position:absolute;
    left:0px;
    top:0px;
    width:43px;
    height:43px;
}

.u36 {
    position:absolute;
    left:2px;
    top:14px;
    width:39px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37_line {
    background-image: url('../Area_do_cliente_files/u37_line.png');
}

.u37_line {
    position:absolute;
    left:0px;
    top:3px;
    width:34px;
    height:5px;
}

.u37 {
    position:absolute;
    left:37px;
    top:302px;
    width:34px;
    height:10px;
    
}

.u38_normal {
    background-image: url('../Area_do_cliente_files/u38_normal.png');
}

.u38_container {
    position:absolute;
    left:37px;
    top:212px;
    width:34px;
    height:32px;
}

#u38_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:40px;
    height:38px;
}

.u39 {
    position:absolute;
    left:2px;
    top:8px;
    width:30px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40_normal {
    background-image: url('../Area_do_cliente_files/u40_normal.png');
}

.u40_container {
    position:absolute;
    left:88px;
    top:4px;
    width:16px;
    height:16px;
}

#u40_img {
    position:absolute;
    left:0px;
    top:0px;
    width:16px;
    height:16px;
}

.u41 {
    position:absolute;
    left:2px;
    top:0px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u42 {
    position:absolute;
    left:23px;
    top:93px;
    width:975px;
    height:631px;
    overflow:hidden;
}

#pd0u42 {
    position:absolute;
    left:0px;
    top:0px;
    width:975px;
    height:631px;
    
}

.u43_normal {
    background-image: url('../Area_do_cliente_files/u43_normal.png');
}

.u43_container {
    position:absolute;
    left:0px;
    top:0px;
    width:974px;
    height:631px;
}

#u43_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:980px;
    height:637px;
}

.u44 {
    position:absolute;
    left:2px;
    top:308px;
    width:970px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45 {
    position:absolute;
    left:24px;
    top:18px;
    width:247px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46_normal {
    background-image: url('../Area_do_cliente_files/u46_normal.png');
}

.u46_container {
    position:absolute;
    left:24px;
    top:70px;
    width:201px;
    height:201px;
}

#u46_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:207px;
    height:207px;
}

.u47 {
    position:absolute;
    left:2px;
    top:92px;
    width:197px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50_selected {
    background-image: url('../Area_do_cliente_files/u50_selected.png');
}

.u50_normal {
    background-image: url('../Area_do_cliente_files/u50_normal.png');
}

.u50_container {
    position:absolute;
    left:6px;
    top:6px;
    width:9px;
    height:9px;
}

#u50_img {
    position:absolute;
    left:0px;
    top:0px;
    width:9px;
    height:9px;
}

.u51 {
    position:absolute;
    left:2px;
    top:-4px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u52_container {
    position:absolute;
    left:22px;
    top:0px;
    width:95px;
    height:20px;
}

#u52_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:101px;
    height:26px;
}

.u53 {
    position:absolute;
    left:3px;
    top:2px;
    width:90px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u55_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u55_container {
    position:absolute;
    left:22px;
    top:0px;
    width:68px;
    height:20px;
}

#u55_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:74px;
    height:26px;
}

.u56 {
    position:absolute;
    left:3px;
    top:2px;
    width:63px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u58_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u58_container {
    position:absolute;
    left:22px;
    top:0px;
    width:68px;
    height:20px;
}

#u58_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:74px;
    height:26px;
}

.u59 {
    position:absolute;
    left:3px;
    top:2px;
    width:63px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u61_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u61_container {
    position:absolute;
    left:22px;
    top:0px;
    width:68px;
    height:20px;
}

#u61_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:74px;
    height:26px;
}

.u62 {
    position:absolute;
    left:3px;
    top:2px;
    width:63px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

#u63 {
    position:absolute;
    left:246px;
    top:70px;
    width:702px;
    height:511px;
    overflow:hidden;
}

#pd0u63 {
    position:absolute;
    left:0px;
    top:0px;
    width:702px;
    height:511px;
    overflow:auto;
    -webkit-overflow-scrolling: touch;
    overflow-x:hidden;
    -ms-overflow-x:hidden;
}

.u64_normal {
    background-image: url('../Area_do_cliente_files/u64_normal.png');
}

.u64_container {
    position:absolute;
    left:0px;
    top:0px;
    width:701px;
    height:708px;
}

#u64_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:707px;
    height:714px;
}

.u65 {
    position:absolute;
    left:2px;
    top:346px;
    width:697px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u66 {
    position:absolute;
    left:16px;
    top:15px;
    width:670px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67 {
    position:absolute;
    left:16px;
    top:47px;
    width:659px;
    height:640px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u68_normal {
    background-image: url('../Area_do_cliente_files/u68_normal.png');
}

.u68_container {
    position:absolute;
    left:24px;
    top:292px;
    width:201px;
    height:288px;
}

#u68_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:207px;
    height:294px;
}

.u69 {
    position:absolute;
    left:2px;
    top:136px;
    width:197px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u70 {
    position:absolute;
    left:32px;
    top:309px;
    width:150px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71 {
    position:absolute;
    left:32px;
    top:351px;
    width:150px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u72 {
    position:absolute;
    left:32px;
    top:395px;
    width:150px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u73 {
    position:absolute;
    left:32px;
    top:324px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u74 {
    position:absolute;
    left:32px;
    top:366px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75 {
    position:absolute;
    left:32px;
    top:410px;
    width:150px;
    height:108px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u77_normal {
    background-image: url('../Area_do_cliente_files/u40_normal.png');
}

.u77_container {
    position:absolute;
    left:931px;
    top:18px;
    width:16px;
    height:16px;
}

#u77_img {
    position:absolute;
    left:0px;
    top:0px;
    width:16px;
    height:16px;
}

.u78 {
    position:absolute;
    left:2px;
    top:0px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u79 {
    position:absolute;
    left:38px;
    top:60px;
    width:1002px;
    height:664px;
    overflow:hidden;
}

#pd0u79 {
    position:absolute;
    left:0px;
    top:0px;
    width:1002px;
    height:664px;
    
}

.u80_normal {
    background-image: url('../Area_do_cliente_files/u43_normal.png');
}

.u80_container {
    position:absolute;
    left:0px;
    top:0px;
    width:974px;
    height:631px;
}

#u80_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:980px;
    height:637px;
}

.u81 {
    position:absolute;
    left:2px;
    top:308px;
    width:970px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u82 {
    position:absolute;
    left:24px;
    top:18px;
    width:247px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u83_normal {
    background-image: url('../Area_do_cliente_files/u46_normal.png');
}

.u83_container {
    position:absolute;
    left:24px;
    top:70px;
    width:201px;
    height:201px;
}

#u83_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:207px;
    height:207px;
}

.u84 {
    position:absolute;
    left:2px;
    top:92px;
    width:197px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u85_normal {
    background-image: url('../Area_do_cliente_files/u40_normal.png');
}

.u85_container {
    position:absolute;
    left:931px;
    top:18px;
    width:16px;
    height:16px;
}

#u85_img {
    position:absolute;
    left:0px;
    top:0px;
    width:16px;
    height:16px;
}

.u86 {
    position:absolute;
    left:2px;
    top:0px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u87_normal {
    background-image: url('../Area_do_cliente_files/u87_normal.png');
}

.u87_container {
    position:absolute;
    left:255px;
    top:58px;
    width:328px;
    height:213px;
}

#u87_img {
    position:absolute;
    left:0px;
    top:0px;
    width:328px;
    height:213px;
}

.u88 {
    position:absolute;
    left:2px;
    top:98px;
    width:324px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u89_normal {
    background-image: url('../Area_do_cliente_files/u87_normal.png');
}

.u89_container {
    position:absolute;
    left:610px;
    top:328px;
    width:328px;
    height:213px;
}

#u89_img {
    position:absolute;
    left:0px;
    top:0px;
    width:328px;
    height:213px;
}

.u90 {
    position:absolute;
    left:2px;
    top:98px;
    width:324px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u91_normal {
    background-image: url('../Area_do_cliente_files/u91_normal.png');
}

.u91_container {
    position:absolute;
    left:610px;
    top:58px;
    width:328px;
    height:213px;
}

#u91_img {
    position:absolute;
    left:0px;
    top:0px;
    width:328px;
    height:213px;
}

.u92 {
    position:absolute;
    left:2px;
    top:98px;
    width:324px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u93_normal {
    background-image: url('../Area_do_cliente_files/u91_normal.png');
}

.u93_container {
    position:absolute;
    left:255px;
    top:328px;
    width:328px;
    height:213px;
}

#u93_img {
    position:absolute;
    left:0px;
    top:0px;
    width:328px;
    height:213px;
}

.u94 {
    position:absolute;
    left:2px;
    top:98px;
    width:324px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u95 {
    position:absolute;
    left:36px;
    top:81px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u97 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u99 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u101 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u103 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u105 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u107 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u109 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u110 {
    position:absolute;
    left:659px;
    top:90px;
    width:248px;
    height:409px;
    overflow:hidden;
}

#pd0u110 {
    position:absolute;
    left:0px;
    top:0px;
    width:248px;
    height:409px;
    
}

.u111_normal {
    background-image: url('../Area_do_cliente_files/u111_normal.png');
}

.u111_container {
    position:absolute;
    left:0px;
    top:23px;
    width:247px;
    height:383px;
}

#u111_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:253px;
    height:389px;
}

.u112 {
    position:absolute;
    left:2px;
    top:184px;
    width:243px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u113_normal {
    background-image: url('../Area_do_cliente_files/u113_normal.png');
}

.u113_container {
    position:absolute;
    left:0px;
    top:0px;
    width:247px;
    height:23px;
}

#u113_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:253px;
    height:29px;
}

.u114 {
    position:absolute;
    left:2px;
    top:5px;
    width:243px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u115_normal {
    background-image: url('../Area_do_cliente_files/u40_normal.png');
}

.u115_container {
    position:absolute;
    left:222px;
    top:4px;
    width:16px;
    height:16px;
}

#u115_img {
    position:absolute;
    left:0px;
    top:0px;
    width:16px;
    height:16px;
}

.u116 {
    position:absolute;
    left:2px;
    top:0px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u118 {
    position:absolute;
    left:16px;
    top:0px;
    width:202px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u120 {
    position:absolute;
    left:16px;
    top:0px;
    width:202px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u122 {
    position:absolute;
    left:16px;
    top:0px;
    width:202px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u124 {
    position:absolute;
    left:16px;
    top:0px;
    width:202px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u126 {
    position:absolute;
    left:16px;
    top:0px;
    width:202px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u128 {
    position:absolute;
    left:16px;
    top:0px;
    width:202px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u130 {
    position:absolute;
    left:16px;
    top:0px;
    width:202px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u131 {
    position:absolute;
    left:668px;
    top:90px;
    width:248px;
    height:409px;
    overflow:hidden;
}

#pd0u131 {
    position:absolute;
    left:0px;
    top:0px;
    width:248px;
    height:409px;
    
}

.u132_normal {
    background-image: url('../Area_do_cliente_files/u111_normal.png');
}

.u132_container {
    position:absolute;
    left:0px;
    top:23px;
    width:247px;
    height:383px;
}

#u132_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:253px;
    height:389px;
}

.u133 {
    position:absolute;
    left:2px;
    top:184px;
    width:243px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u134_normal {
    background-image: url('../Area_do_cliente_files/u113_normal.png');
}

.u134_container {
    position:absolute;
    left:0px;
    top:0px;
    width:247px;
    height:23px;
}

#u134_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:253px;
    height:29px;
}

.u135 {
    position:absolute;
    left:2px;
    top:5px;
    width:243px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u136_normal {
    background-image: url('../Area_do_cliente_files/u40_normal.png');
}

.u136_container {
    position:absolute;
    left:222px;
    top:4px;
    width:16px;
    height:16px;
}

#u136_img {
    position:absolute;
    left:0px;
    top:0px;
    width:16px;
    height:16px;
}

.u137 {
    position:absolute;
    left:2px;
    top:0px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u139 {
    position:absolute;
    left:16px;
    top:0px;
    width:202px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u141 {
    position:absolute;
    left:16px;
    top:0px;
    width:202px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u143 {
    position:absolute;
    left:16px;
    top:0px;
    width:202px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u145 {
    position:absolute;
    left:16px;
    top:0px;
    width:202px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u147 {
    position:absolute;
    left:16px;
    top:0px;
    width:202px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u149 {
    position:absolute;
    left:16px;
    top:0px;
    width:202px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u151 {
    position:absolute;
    left:16px;
    top:0px;
    width:202px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u152 {
    position:absolute;
    left:925px;
    top:90px;
    width:77px;
    height:409px;
    overflow:hidden;
}

#pd0u152 {
    position:absolute;
    left:0px;
    top:0px;
    width:77px;
    height:409px;
    
}

.u153_normal {
    background-image: url('../Area_do_cliente_files/u153_normal.png');
}

.u153_container {
    position:absolute;
    left:0px;
    top:0px;
    width:76px;
    height:408px;
}

#u153_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:82px;
    height:414px;
}

.u154 {
    position:absolute;
    left:2px;
    top:196px;
    width:72px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u155_normal {
    background-image: url('../Area_do_cliente_files/u155_normal.png');
}

.u155_container {
    position:absolute;
    left:22px;
    top:37px;
    width:32px;
    height:32px;
}

#u155_img {
    position:absolute;
    left:0px;
    top:0px;
    width:32px;
    height:32px;
}

.u156 {
    position:absolute;
    left:2px;
    top:8px;
    width:28px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u157 {
    position:absolute;
    left:0px;
    top:72px;
    width:76px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u158_normal {
    background-image: url('../Area_do_cliente_files/u158_normal.png');
}

.u158_container {
    position:absolute;
    left:22px;
    top:111px;
    width:32px;
    height:32px;
}

#u158_img {
    position:absolute;
    left:0px;
    top:0px;
    width:32px;
    height:32px;
}

.u159 {
    position:absolute;
    left:2px;
    top:8px;
    width:28px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u160 {
    position:absolute;
    left:0px;
    top:150px;
    width:76px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u161_normal {
    background-image: url('../Area_do_cliente_files/u161_normal.png');
}

.u161_container {
    position:absolute;
    left:22px;
    top:188px;
    width:32px;
    height:32px;
}

#u161_img {
    position:absolute;
    left:0px;
    top:0px;
    width:32px;
    height:32px;
}

.u162 {
    position:absolute;
    left:2px;
    top:8px;
    width:28px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u163 {
    position:absolute;
    left:0px;
    top:225px;
    width:76px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u164_normal {
    background-image: url('../Area_do_cliente_files/u164_normal.png');
}

.u164_container {
    position:absolute;
    left:22px;
    top:264px;
    width:32px;
    height:32px;
}

#u164_img {
    position:absolute;
    left:0px;
    top:0px;
    width:32px;
    height:32px;
}

.u165 {
    position:absolute;
    left:2px;
    top:8px;
    width:28px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u166 {
    position:absolute;
    left:0px;
    top:301px;
    width:76px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u167_normal {
    background-image: url('../Area_do_cliente_files/u167_normal.png');
}

.u167_container {
    position:absolute;
    left:22px;
    top:340px;
    width:32px;
    height:32px;
}

#u167_img {
    position:absolute;
    left:0px;
    top:0px;
    width:32px;
    height:32px;
}

.u168 {
    position:absolute;
    left:2px;
    top:8px;
    width:28px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u169 {
    position:absolute;
    left:0px;
    top:378px;
    width:76px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u170_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u170_container {
    position:absolute;
    left:0px;
    top:331px;
    width:76px;
    height:77px;
}

#u170_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:82px;
    height:83px;
}

.u171 {
    position:absolute;
    left:2px;
    top:30px;
    width:72px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u172_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u172_container {
    position:absolute;
    left:0px;
    top:250px;
    width:76px;
    height:81px;
}

#u172_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:82px;
    height:87px;
}

.u173 {
    position:absolute;
    left:2px;
    top:32px;
    width:72px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u174_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u174_container {
    position:absolute;
    left:0px;
    top:173px;
    width:76px;
    height:77px;
}

#u174_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:82px;
    height:83px;
}

.u175 {
    position:absolute;
    left:2px;
    top:30px;
    width:72px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u176_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u176_container {
    position:absolute;
    left:0px;
    top:95px;
    width:76px;
    height:77px;
}

#u176_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:82px;
    height:83px;
}

.u177 {
    position:absolute;
    left:2px;
    top:30px;
    width:72px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u178_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u178_container {
    position:absolute;
    left:0px;
    top:0px;
    width:76px;
    height:95px;
}

#u178_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:82px;
    height:101px;
}

.u179 {
    position:absolute;
    left:2px;
    top:40px;
    width:72px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u180_normal {
    background-image: url('../Area_do_cliente_files/u180_normal.png');
}

.u180_container {
    position:absolute;
    left:0px;
    top:0px;
    width:76px;
    height:23px;
}

#u180_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:82px;
    height:29px;
}

.u181 {
    position:absolute;
    left:2px;
    top:5px;
    width:72px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

