body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../Master_OFFLINE_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:0px;
    width:1024px;
    height:61px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1030px;
    height:67px;
}

.u1 {
    position:absolute;
    left:2px;
    top:22px;
    width:1020px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_mouseOver {
    background-image: url('../resources/images/transparent.gif');
}

.u2_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u2_container {
    position:absolute;
    left:372px;
    top:20px;
    width:110px;
    height:20px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:116px;
    height:26px;
}

.u3 {
    position:absolute;
    left:2px;
    top:2px;
    width:106px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_mouseOver {
    background-image: url('../resources/images/transparent.gif');
}

.u4_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u4_container {
    position:absolute;
    left:537px;
    top:20px;
    width:110px;
    height:20px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:116px;
    height:26px;
}

.u5 {
    position:absolute;
    left:2px;
    top:2px;
    width:106px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_mouseOver {
    background-image: url('../resources/images/transparent.gif');
}

.u6_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u6_container {
    position:absolute;
    left:693px;
    top:20px;
    width:110px;
    height:20px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:116px;
    height:26px;
}

.u7 {
    position:absolute;
    left:2px;
    top:2px;
    width:106px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_mouseOver {
    background-image: url('../resources/images/transparent.gif');
}

.u8_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u8_container {
    position:absolute;
    left:855px;
    top:20px;
    width:130px;
    height:20px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:136px;
    height:26px;
}

.u9 {
    position:absolute;
    left:2px;
    top:2px;
    width:126px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_normal {
    background-image: url('../Master_OFFLINE_files/u10_normal.png');
}

.u10_container {
    position:absolute;
    left:21px;
    top:5px;
    width:118px;
    height:90px;
}

#u10_img {
    position:absolute;
    left:0px;
    top:0px;
    width:118px;
    height:90px;
}

.u11 {
    position:absolute;
    left:2px;
    top:37px;
    width:114px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_mouseOver {
    background-image: url('../resources/images/transparent.gif');
}

.u12_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u12_container {
    position:absolute;
    left:239px;
    top:20px;
    width:110px;
    height:20px;
}

#u12_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:116px;
    height:26px;
}

.u13 {
    position:absolute;
    left:2px;
    top:2px;
    width:106px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:367px;
    top:177px;
    width:627px;
    height:176px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_normal {
    background-image: url('../Nossos_produtos_files/u16_normal.png');
}

.u16_container {
    position:absolute;
    left:53px;
    top:177px;
    width:265px;
    height:177px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:271px;
    height:183px;
}

.u17 {
    position:absolute;
    left:2px;
    top:80px;
    width:261px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:53px;
    top:117px;
    width:312px;
    height:42px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19 {
    position:absolute;
    left:367px;
    top:402px;
    width:627px;
    height:176px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_normal {
    background-image: url('../Nossos_produtos_files/u16_normal.png');
}

.u20_container {
    position:absolute;
    left:53px;
    top:402px;
    width:265px;
    height:177px;
}

#u20_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:271px;
    height:183px;
}

.u21 {
    position:absolute;
    left:2px;
    top:80px;
    width:261px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22 {
    position:absolute;
    left:367px;
    top:636px;
    width:627px;
    height:176px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_normal {
    background-image: url('../Nossos_produtos_files/u16_normal.png');
}

.u23_container {
    position:absolute;
    left:53px;
    top:636px;
    width:265px;
    height:177px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:271px;
    height:183px;
}

.u24 {
    position:absolute;
    left:2px;
    top:80px;
    width:261px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25 {
    position:absolute;
    left:14px;
    top:866px;
    width:140px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26_normal {
    background-image: url('../Rodape_files/u28_normal.png');
}

.u26_container {
    position:absolute;
    left:119px;
    top:866px;
    width:17px;
    height:17px;
}

#u26_img {
    position:absolute;
    left:0px;
    top:0px;
    width:17px;
    height:17px;
}

.u27 {
    position:absolute;
    left:2px;
    top:0px;
    width:13px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28 {
    position:absolute;
    left:884px;
    top:866px;
    width:140px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30_normal {
    background-image: url('../Rodape_files/u32_normal.png');
}

.u30_container {
    position:absolute;
    left:0px;
    top:892px;
    width:1024px;
    height:10px;
}

#u30_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1030px;
    height:16px;
}

.u31 {
    position:absolute;
    left:2px;
    top:-3px;
    width:1020px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

